#!/bin/zsh

set -euxo pipefail

# Exit when the script is running in a container
if ! env | grep -q container; then
  exit 0
fi

source ~/.zshenv

{{ if eq .chezmoi.osRelease.id "ubuntu" }}

sudo apt-get update
DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --no-install-recommends \
  podman \
  podman-compose

{{ else if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "manjaro") }}

sudo pacman -Sy --needed \
  podman \
  podman-compose

{{ end }}

sudo systemctl enable podman
sudo systemctl start podman

podman completion zsh -f $ZDOTDIR/completions/_podman

