#!/bin/bash

set -euxo pipefail

{{ if eq .chezmoi.osRelease.id "ubuntu" }}

# gitは、最新版のgitビルドを提供しているPPAが、古いアルゴリズムの証明書を使用しているので使いたくないため、公式にリリースされているバージョンを使用する
sudo apt-get update
DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --no-install-recommends \
  ca-certificates \
  curl \
  dnsutils \
  git \
  gnupg \
  gnupg-agent \
  gpg \
  gzip \
  jq \
  less \
  libfuse-dev \
  libsqlite3-dev \
  libssl-dev \
  lsb-release \
  openssh-client \
  pcscd \
  scdaemon \
  socat \
  sudo \
  procps \
  unzip \
  vim-gtk3 \
  wget \
  xz-utils \
  zip \
  zsh

{{ else if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "manjaro") }}

sudo pacman -Sy --needed \
  base-devel \
  ca-certificates \
  ccid \
  curl \
  fakeroot \
  git \
  gnupg \
  gzip \
  jq \
  less \
  lsb-release \
  openssh \
  opensc \
  socat \
  sudo \
  procps \
  unzip \
  vim \
  wget \
  xz \
  zip \
  zsh

if !(type 'yay' > /dev/null 2>&1); then
  git clone https://aur.archlinux.org/yay-bin.git
  cd yay-bin
  makepkg -si
  cd ../
  rm -r yay-bin
fi


{{ end }}

chsh -s $(which zsh) $USER

if [ ! -d $ZDOTDIR/completions ]; then
  mkdir $ZDOTDIR/completions
fi

chezmoi completion zsh > $ZDOTDIR/completions/_chezmoi

