#!/bin/zsh

set -euxo pipefail

# Versions (auto-updated by chezmoi to trigger re-run on package update):
{{- if eq .chezmoi.osRelease.id "ubuntu" }}
# podman: {{ output "sh" "-c" "dpkg-query --showformat='${Version}' --show podman 2>/dev/null || true" | trim }}
# podman-compose: {{ output "sh" "-c" "dpkg-query --showformat='${Version}' --show podman-compose 2>/dev/null || true" | trim }}
{{- else if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "manjaro") }}
# podman: {{ output "sh" "-c" "pacman -Q podman 2>/dev/null | awk '{print $2}' || true" | trim }}
# podman-compose: {{ output "sh" "-c" "pacman -Q podman-compose 2>/dev/null | awk '{print $2}' || true" | trim }}
{{- end }}

# Exit when the script is running in a container
if env | grep -q container; then
  exit 0
fi

source ~/.zshenv

{{ if eq .chezmoi.osRelease.id "ubuntu" }}

export DEBIAN_FRONTEND=noninteractive
packages=(podman podman-compose)

sudo apt-get update
if type podman > /dev/null 2>&1; then
  sudo apt-get upgrade -y "${packages[@]}"
else
  sudo apt-get install -y --no-install-recommends "${packages[@]}"
fi

{{ else if or (eq .chezmoi.osRelease.id "arch") (eq .chezmoi.osRelease.id "manjaro") }}

sudo pacman -Sy --needed \
  podman \
  podman-compose

{{ end }}

sudo systemctl enable podman
sudo systemctl start podman

podman completion zsh -f $ZDOTDIR/completions/_podman

