#!/bin/zsh

set -euxo pipefail

source ~/.zshenv

curl https://mise.run | sh

# Install tools
$MISE_INSTALL_PATH install

# Add completions
$MISE_INSTALL_PATH completion zsh > $ZDOTDIR/completions/_mise
