#!/bin/bash

set -euxo pipefail

# Exit when the script is running in a docker container
if [ -e /.dockerenv ]; then
  exit 0
fi

{{ if eq .chezmoi.osRelease.id "ubuntu" }}

sudo install -m 0755 -d /etc/apt/keyrings
sudo curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
sudo chmod a+r /etc/apt/keyrings/docker.asc

echo \
  "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu \
  $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | \
  sudo tee /etc/apt/sources.list.d/docker.list > /dev/null
sudo apt-get update
DEBIAN_FRONTEND=noninteractive sudo apt-get install -y --no-install-recommends \
  containerd.io \
  docker-buildx-plugin \
  docker-ce \
  docker-ce-cli \
  docker-compose-plugin


{{ else if eq .chezmoi.osRelease.id "arch" }}

sudo pacman -Sy --needed docker

{{ end }}

sudo systemctl enable docker
sudo systemctl start docker

sudo groupadd docker || :
sudo usermod -aG docker $USER || :

docker completion zsh > $ZDOTDIR/completions/_docker

